<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.team.core.fileTypes">
    <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="mmd">
      </fileTypes>
  </extension>
   <extension point="org.eclipse.ui.editors">
     <?gmfgen generated="true"?>
     <editor
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapDiagramEditorID"
        name="%editorName"
        icon="icons/obj16/MindmapDiagramFile.gif"
        extensions="mmd"
        default="true"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapDiagramEditor"
        matchingStrategy="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapMatchingStrategy"
        contributorClass="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapDiagramActionBarContributor">
     </editor>
   </extension>
  <extension
    point="org.eclipse.core.runtime.applications"
    id="MindmapApplication">
    <?gmfgen generated="true"?>
    <application>
      <run
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.MindmapApplication">
      </run>
    </application>
  </extension>

   <extension
    point="org.eclipse.ui.perspectives">
     <?gmfgen generated="true"?>
    <perspective
      name="%_UI_Perspective_label"
      class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorPerspective"
      id="org.eclipse.gmf.examples.mindmap.lite.rcp.MindmapPerspective">
    </perspective>
  </extension>

  <extension
    point="org.eclipse.ui.commands">
     <?gmfgen generated="true"?>
    <command
      name="%_UI_Menu_OpenURI_label"
      description="%_UI_Menu_OpenURI_description"
      categoryId="org.eclipse.ui.category.file"
      id="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenURICommand" />  
    <command
      name="%_UI_Menu_Open_label"
      description="%_UI_Menu_Open_description"
      categoryId="org.eclipse.ui.category.file"
      id="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenCommand" />  
  </extension>

  <extension
    point="org.eclipse.ui.bindings">
     <?gmfgen generated="true"?>
    <key
      commandId="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenURICommand"
      sequence="M1+U"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
    <key
      commandId="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenCommand"
      sequence="M1+O"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
  </extension>
  <extension
    point="org.eclipse.ui.actionSets">
     <?gmfgen generated="true"?>
    <actionSet
      label="%_UI_org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapDiagramEditorUtil_ActionSet_label"
      visible="true"
      id="org.eclipse.gmf.examples.mindmap.lite.rcp.ActionSet">
      <action
        label="%_UI_Menu_About_label"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorActionBarAdvisor$AboutAction"
        menubarPath="help/additions"
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.AboutAction">
      </action>
      <action
        label="%_UI_Menu_OpenURI_label"
        definitionId="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenURICommand"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorActionBarAdvisor$OpenURIAction"
        menubarPath="file/additions"
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenURIAction">
      </action>
      <action
        label="%_UI_Menu_Open_label"
        definitionId="org.eclipse.gmf.examples.mindmap.lite.rcp.OpenCommand"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorActionBarAdvisor$OpenAction"
        menubarPath="file/additions"
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorActionBarAdvisorOpenDiagramAction">
      </action>
      <action
        label="%_UI_org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapDiagramEditorUtilNewDiagramCommand"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.application.DiagramEditorActionBarAdvisor$NewDiagramAction"
        menubarPath="file/new/additions"
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.NewDiagramAction">
      </action>
      <action
        label="%_UI_Menu_InitDiagramFile_label"
        class="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapInitDiagramFileAction"
        menubarPath="file/additions"
        id="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapInitDiagramFileActionID">
      </action>
    </actionSet> 
  </extension>
   <extension point="org.eclipse.ui.popupMenus">
     <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.examples.mindmap.lite.rcp.ui.objectContribution.MapEditPart2"
            objectClass="org.eclipse.gmf.examples.mindmap.lite.rcp.edit.parts.MapEditPart">
         <action
               class="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapLoadResourceAction"
               enablesFor="1"
               id="org.eclipse.gmf.examples.mindmap.lite.rcp.part.MindmapLoadResourceActionID"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>  
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor contributorId="org.eclipse.gmf.examples.mindmap.lite.rcp" labelProvider="org.eclipse.gmf.examples.mindmap.lite.rcp.sheet.MindmapSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.gmf.examples.mindmap.lite.rcp">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.gmf.examples.mindmap.lite.rcp">
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.eclipse.gmf.examples.mindmap.lite.rcp.sheet.MindmapPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="true"?>
            <category id="org.eclipse.gmf.examples.mindmap" mandatory="false" name="Mindmap Audits">
         <![CDATA[Mindmap Audits]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.example.org/mindmap"/>
         <package namespaceUri="http://www.example.org/mindmap"/>
               <constraints categories="org.eclipse.gmf.examples.mindmap">
                  <constraint id="cycle"
            lang="OCL"
            name="Cyclic relationship check"
            mode="Batch"
            severity="ERROR" statusCode="200">
            <![CDATA[self.relations->forAll(r1, r2 |  r1.target = r2.source and r1.type = r2.type implies r2.target <> r1.source)]]>
            <description><![CDATA[This audit will detect situations where relationship links of the same type form a cycle.]]></description>
            <message><![CDATA[A cycle was found in relationships between two Topic elements.]]></message>
            <target class="mindmap.Map"/>
         </constraint>
                  <constraint id="notopicname"
            lang="OCL"
            name="No Topic Name"
            mode="Batch"
            severity="ERROR" statusCode="200">
            <![CDATA[name.size() > 0]]>
            <description><![CDATA[Detects Topics without a name set]]></description>
            <message><![CDATA[All Topic elements should have a name set]]></message>
            <target class="mindmap.Topic"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
                  <clientContext default="false" id="org.eclipse.gmf.examples.mindmap.lite.rcp.DefaultCtx">
         <selector class="org.eclipse.gmf.examples.mindmap.lite.rcp.providers.MindmapValidationProvider$DefaultCtx"/>
      </clientContext>
      <binding context="org.eclipse.gmf.examples.mindmap.lite.rcp.DefaultCtx">
                  <constraint ref="org.eclipse.gmf.examples.mindmap.lite.rcp.cycle"/>
                  <constraint ref="org.eclipse.gmf.examples.mindmap.lite.rcp.notopicname"/>
               </binding>
               </extension>

</plugin>
