<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.gmf"
            name="%cheatsheet.category.gmf"/>
      <cheatsheet
            category="org.eclipse.gmf"
            contentFile="$nl$/cheatsheets/tutorial.xml"
            id="org.eclipse.gmf.doc.cheatsheats.tutorial.cheatsheet"
            name="%cheatsheet.tutorial.name">
         <description>%cheatsheet.tutorial.desc</description>
      </cheatsheet>
   </extension>
</plugin>
