<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/gmf-tooling/bug403577"
            class="org.eclipse.gmf.example.lesscode.LesscodePackage"
            genModel="model/lesscode.genmodel"/>
   </extension>

</plugin>
