<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/examples/gmf/taipan" 
       class = "org.eclipse.gmf.examples.taipan.provider.TaiPanItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.eclipse.gmf.examples.taipan.presentation.TaiPanModelWizardID"
      name = "%_UI_TaiPanModelWizard_label"
      class = "org.eclipse.gmf.examples.taipan.presentation.TaiPanModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TaiPanModelFile.gif">
      <description>%_UI_TaiPanModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.gmf.examples.taipan.presentation.TaiPanEditorID"
        name = "%_UI_TaiPanEditor_label"
        icon = "icons/full/obj16/TaiPanModelFile.gif"
        extensions = "taipan"
        class = "org.eclipse.gmf.examples.taipan.presentation.TaiPanEditor" 
        contributorClass="org.eclipse.gmf.examples.taipan.presentation.TaiPanActionBarContributor" >
    </editor>
  </extension>    
</plugin>
