# TODO: generate this file based on parameters found in dependent feature.xml files.
gmfVersion=1.0.0

##############################################################
# Base Eclipse dependency
eclipseURL=http://www.eclipse.org/downloads/download.php?
platformBaseURL=file=/eclipse/downloads/drops/
eclipseBuildType=I
eclipseVersion=3.2M5a
fullEclipseVersion=3.2.0
eclipseBuildDate=20060330
eclipseBuildTimestamp=0010

##### Use these for Integration builds #####
eclipseBuildId=${eclipseBuildType}${eclipseBuildDate}-${eclipseBuildTimestamp}
eclipseArchiveName=eclipse-SDK-${eclipseBuildId}-${baseos}
##### Use these for Stable builds #####
#eclipseBuildId=${eclipseBuildType}-${eclipseVersion}-${eclipseBuildDate}${eclipseBuildTimestamp}
#eclipseArchiveName=eclipse-SDK-${eclipseVersion}-${baseos}

eclipseBaseURL=${eclipseURL}${platformBaseURL}${eclipseBuildId}/${eclipseArchiveName}
eclipseDownloadPage=http://download.eclipse.org/eclipse/downloads/drops/${eclipseBuildId}/index.php

# Automated testing framework
testPluginVersion=3.1.0

##### Use this one for Stable builds #####
#testingFrameworkVersion=3.2M5a
##### Use this one for Integration builds #####
testingFrameworkVersion=${eclipseBuildId}

testingFrameworkZipName=eclipse-test-framework-${testingFrameworkVersion}.zip
testingFrameworkURL=${eclipseURL}file=/eclipse/downloads/drops/${eclipseBuildId}/${testingFrameworkZipName}${mirror}

##############################################################
# Eclipse Modeling Framework (EMF)
fullEmfVersion=2.2.0
emfFeatureId=org.eclipse.emf.sdk
emfExamplesFeatureId=org.eclipse.emf.examples
emfBuildType=I
emfBuildDate=20060330
emfBuildTime=0000
#emfFeatureQualifier=zhhQFPPrF
emfBuildId=${emfBuildType}${emfBuildDate}${emfBuildTime}

##### Use these for Integration builds #####
emfZipName=emf-sdo-xsd-SDK-${emfBuildId}.zip
emfExamplesZipName=emf-sdo-xsd-Examples-${emfBuildId}.zip
emfVersion=${emfBuildId}
##### Use these for Stable builds #####
#emfVersion=2.2.0M5
#emfZipName=emf-sdo-xsd-SDK-${emfVersion}.zip
#emfExamplesZipName=emf-sdo-xsd-Examples-${emfVersion}.zip

emfUpdateVersion=${fullEmfVersion}.v${emfBuildDate}${emfBuildTime}
emfUpdateSite=http://download.eclipse.org/tools/emf/updates/site-interim.xml
emfZipURL=${eclipseURL}file=/tools/emf/downloads/drops/${fullEmfVersion}/${emfBuildId}/${emfZipName}${mirror}
emfExamplesZipURL=${eclipseURL}file=/tools/emf/downloads/drops/${fullEmfVersion}/${emfBuildId}/${emfExamplesZipName}${mirror}
emfDownloadPage=http://download.eclipse.org/tools/emf/scripts/downloads-viewer.php?s=${fullEmfVersion}/${emfBuildId}

##############################################################
# Graphical Editing Framework (GEF)
fullGefVersion=3.2.0
gefFeatureId=org.eclipse.gef
gefBuildType=I
gefBuildDate=20060309
gefBuildTime=0326

##### Use this one for Stable builds #####
#gefVersion=3.2M5
##### Use this one for Integration builds #####
gefVersion=${gefBuildType}${gefBuildDate}

gefZipName=GEF-SDK-${gefVersion}.zip
gefUpdateSite=http://update.eclipse.org/updates/3.0/
gefZipURL=${eclipseURL}file=/tools/gef/downloads/drops/${gefBuildType}-${gefVersion}-${gefBuildDate}${gefBuildTime}/${gefZipName}${mirror}
gefDownloadPage=http://download.eclipse.org/tools/gef/downloads/drops/${gefBuildType}-${gefVersion}-${gefBuildDate}${gefBuildTime}/index.php

##############################################################
# UML2 Project (UML2) - Required for tests only (for now).
fullUml2Version=2.0.0
uml2FeatureId=org.eclipse.uml2
uml2BuildType=I
uml2BuildDate=20060330
uml2BuildTime=0400
uml2BuildId=${uml2BuildType}${uml2BuildDate}${uml2BuildTime}

##### Use these for Stable builds #####
#uml2Version=2.0M3
#uml2ZipName=uml2-${uml2Version}.zip
##### Use these for Integration builds #####
uml2Version=${uml2BuildId}
uml2ZipName=uml2-${uml2BuildType}${uml2BuildDate}${uml2BuildTime}.zip

uml2UpdateVersion=${fullUml2Version}.v${uml2BuildDate}${uml2BuildTime}
uml2UpdateSite=http://download.eclipse.org/tools/uml2/updates/site-interim.xml
uml2ZipURL=${eclipseURL}file=/tools/uml2/downloads/drops/${fullUml2Version}/${uml2BuildType}${uml2BuildDate}${uml2BuildTime}/${uml2ZipName}${mirror}
uml2DownloadPage=http://download.eclipse.org/tools/uml2/scripts/downloads-viewer.php?s=${fullUml2Version}/${uml2BuildType}${uml2BuildDate}${uml2BuildTime}

##############################################################
# EMF OCL
fullEmfOCLVersion=1.0.0
emfOCLFeatureId=org.eclipse.emf.ocl
emfOCLBuildType=I
emfOCLBuildDate=20060330
emfOCLBuildTime=1237
#emfOCLFeatureQualifier=425282258
emfOCLBuildId=${emfOCLBuildType}${emfOCLBuildDate}${emfOCLBuildTime}
emfOCLUpdateVersion=${fullEmfOCLVersion}.v${emfOCLBuildDate}${emfOCLBuildTime}

##### Use these for Integration builds #####
#emfOCLZipName=emft-ocl-SDK-${emfOCLBuildId}.zip
#emfOCLVersion=${emfOCLBuildId}
##### Use these for Stable builds #####
emfOCLVersion=1.0.0M5a
emfOCLZipName=emft-ocl-SDK-${emfOCLVersion}.zip

emfOCLUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfOCLZipURL=${eclipseURL}file=/technology/emft/ocl/downloads/drops/${fullEmfOCLVersion}/${emfOCLBuildId}/${emfOCLZipName}${mirror}
emfOCLDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=ocl&s=${fullEmfOCLVersion}/${emfOCLBuildId}

##############################################################
# EMF Query
fullEmfQueryVersion=1.0.0
emfQueryFeatureId=org.eclipse.emf.query
emfQueryBuildType=I
emfQueryBuildDate=20060330
emfQueryBuildTime=1320
#emfQueryFeatureQualifier=425282258
emfQueryBuildId=${emfQueryBuildType}${emfQueryBuildDate}${emfQueryBuildTime}
emfQueryUpdateVersion=${fullEmfQueryVersion}.v${emfQueryBuildDate}${emfQueryBuildTime}

##### Use these for Integration builds #####
#emfQueryZipName=emft-query-SDK-${emfQueryBuildId}.zip
#emfQueryVersion=${emfQueryBuildId}
##### Use these for Stable builds #####
emfQueryVersion=1.0.0M5a
emfQueryZipName=emft-query-SDK-${emfQueryVersion}.zip

emfQueryUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfQueryZipURL=${eclipseURL}file=/technology/emft/query/downloads/drops/${fullEmfQueryVersion}/${emfQueryBuildId}/${emfQueryZipName}${mirror}
emfQueryDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=query&s=${fullEmfQueryVersion}/${emfQueryBuildId}

##############################################################
# EMF Query OCL
fullEmfQueryOCLVersion=1.0.0
emfQueryOCLFeatureId=org.eclipse.emf.query.ocl
emfQueryOCLBuildType=I
emfQueryOCLBuildDate=20060330
emfQueryOCLBuildTime=1320
#emfQueryOCLFeatureQualifier=425282258
emfQueryOCLBuildId=${emfQueryOCLBuildType}${emfQueryOCLBuildDate}${emfQueryOCLBuildTime}
emfQueryOCLUpdateVersion=${fullEmfQueryOCLVersion}.v${emfQueryOCLBuildDate}${emfQueryOCLBuildTime}
emfQueryOCLUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfQueryOCLDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=query&s=${fullEmfQueryOCLVersion}/${emfQueryOCLBuildId}

##############################################################
# EMF Transaction
fullEmfTransactionVersion=1.0.0
emfTransactionFeatureId=org.eclipse.emf.transaction
emfTransactionBuildType=I
emfTransactionBuildDate=20060330
emfTransactionBuildTime=1355
#emfTransactionFeatureQualifier=95A5G55AG
emfTransactionBuildId=${emfTransactionBuildType}${emfTransactionBuildDate}${emfTransactionBuildTime}
emfTransactionUpdateVersion=${fullEmfTransactionVersion}.v${emfTransactionBuildDate}${emfTransactionBuildTime}

##### Use these for Integration builds #####
#emfTransactionZipName=emft-transaction-SDK-${emfTransactionBuildId}.zip
#emfTransactionVersion=${emfTransactionBuildId}
##### Use these for Stable builds #####
emfTransactionVersion=1.0.0M5a
emfTransactionZipName=emft-transaction-SDK-${emfTransactionVersion}.zip

emfTransactionUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfTransactionZipURL=${eclipseURL}file=/technology/emft/transaction/downloads/drops/${fullEmfTransactionVersion}/${emfTransactionBuildId}/${emfTransactionZipName}${mirror}
emfTransactionDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=transaction&s=${fullEmfTransactionVersion}/${emfTransactionBuildId}

##############################################################
# EMF Workspace
fullEmfWorkspaceVersion=1.0.0
emfWorkspaceFeatureId=org.eclipse.emf.workspace
emfWorkspaceBuildType=I
emfWorkspaceBuildDate=20060330
emfWorkspaceBuildTime=1355
#emfWorkspaceFeatureQualifier=95A5G55AG
emfWorkspaceBuildId=${emfWorkspaceBuildType}${emfWorkspaceBuildDate}${emfWorkspaceBuildTime}
emfWorkspaceUpdateVersion=${fullEmfWorkspaceVersion}.v${emfWorkspaceBuildDate}${emfWorkspaceBuildTime}
emfWorkspaceUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfWorkspaceDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=workspace&s=${fullEmfWorkspaceVersion}/${emfWorkspaceBuildId}

##############################################################
# EMF Validation
fullEmfValidationVersion=1.0.0
emfValidationFeatureId=org.eclipse.emf.validation
emfValidationBuildType=I
emfValidationBuildDate=20060330
emfValidationBuildTime=1349
#emfValidationFeatureQualifier=D8G8P88GP
emfValidationBuildId=${emfValidationBuildType}${emfValidationBuildDate}${emfValidationBuildTime}
emfValidationUpdateVersion=${fullEmfValidationVersion}.v${emfValidationBuildDate}${emfValidationBuildTime}

##### Use these for Integration builds #####
#emfValidationZipName=emft-validation-SDK-${emfValidationBuildId}.zip
#emfValidationVersion=${emfValidationBuildId}
##### Use these for Stable builds #####
emfValidationVersion=1.0.0M5a
emfValidationZipName=emft-validation-SDK-${emfValidationVersion}.zip

emfValidationUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfValidationZipURL=${eclipseURL}file=/technology/emft/validation/downloads/drops/${fullEmfValidationVersion}/${emfValidationBuildId}/${emfValidationZipName}${mirror}
emfValidationDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=validation&s=${fullEmfValidationVersion}/${emfValidationBuildId}

##############################################################
# EMF Validation OCL
fullEmfValidationOCLVersion=1.0.0
emfValidationOCLFeatureId=org.eclipse.emf.validation.ocl
emfValidationOCLBuildType=I
emfValidationOCLBuildDate=20060330
emfValidationOCLBuildTime=1349
#emfValidationOCLFeatureQualifier=425282258
emfValidationOCLBuildId=${emfValidationOCLBuildType}${emfValidationOCLBuildDate}${emfValidationOCLBuildTime}
emfValidationOCLUpdateVersion=${fullEmfValidationOCLVersion}.v${emfValidationOCLBuildDate}${emfValidationOCLBuildTime}
emfValidationOCLUpdateSite=http://download.eclipse.org/technology/emft/updates/site-interim.xml
emfValidationOCLDownloadPage=http://download.eclipse.org/technology/emft/downloads/downloads-viewer.php?proj=validation&s=${fullEmfValidationVersion}/${emfValidationBuildId}

##############################################################
# Antlr dependency (to be removed by M5?)
antlrVersion=2.7.2
antlrURL=http://www.antlr.org/download/antlr-${antlrVersion}.zip
antlrZipName=antlr-${antlrVersion}.zip