<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pins -->
      <package
            uri="http://org.eclipse.gmf.tooling.examples.pins"
            class="pins.PinsPackage"
            genModel="model/pins.genmodel"/>
   </extension>

</plugin>
