<cruisecontrol>

	<!-- TODO: Update to version 2.2.2 and take advantage of properties as soon as stable! -->
	<!-- Change this directory to match your environment.  By default, assuming build
		takes place directly below the scripts directory. 
		<property name="build.dir" value="build" /> -->

	<plugin name="htmlemail"
		buildresultsurl="http://www.eclipse.org/gmf/cruisecontrol"
		mailhost="localhost" returnaddress="gmf-dev@eclipse.org"
		returnname="GMF Buildmaster" subjectprefix="[GMF Build]"
		skipusers="true" spamwhilebroken="true"
		css="css/cruisecontrol.css"
		xsldir="xsl" />

	<project name="sdk" buildafterfailed="true">
		<listeners>
			<currentbuildstatuslistener
				file="build/logs/sdk/buildstatus.txt" />
		</listeners>

		<!-- Bootstrappers are run every time the build runs, 
			*before* the modification checks -->
		<bootstrappers></bootstrappers>

		<!-- Defines where cruise looks for changes, to decide
			whether to run the build -->
		<modificationset quietperiod="10">
			<buildstatus logdir="build/logs/checkout" />
		</modificationset>

		<!-- Configures the actual build loop, how often and which
			build file/target -->
		<schedule interval="600">
			<ant antscript="build.bat" buildfile="build.xml"
				target="main" uselogger="false" usedebug="false">
				<property name="component" value="sdk" />
				<property name="cleanBase" value="true" />
				<property name="clean" value="true" />
			</ant>
		</schedule>

		<!-- directory to write build logs to -->
		<log dir="build/logs/sdk" />

		<!-- Publishers are run *after* a build completes -->
		<publishers>
			<htmlemail logdir="build/logs/sdk">
				<always address="richard.gronback@borland.com" />
<!-- 			<failure address="gmf-dev@eclipse.org" />  			-->
			</htmlemail>
			<artifactspublisher dir="build/artifacts/gmf-sdk"
				dest="build/artifacts/published/sdk" />
		</publishers>
	</project>

	<project name="tests" buildafterfailed="true">
		<listeners>
			<currentbuildstatuslistener
				file="build/logs/tests/buildstatus.txt" />
		</listeners>

		<!-- Bootstrappers are run every time the build runs, 
			*before* the modification checks -->
		<bootstrappers></bootstrappers>

		<!-- Defines where cruise looks for changes, to decide
			whether to run the build -->
		<modificationset quietperiod="10">
			<buildstatus logdir="build/logs/checkout" />
		</modificationset>

		<!-- Configures the actual build loop, how often and which
			build file/target -->
		<schedule interval="600">
			<ant antscript="build.bat" buildfile="build.xml"
				target="main" uselogger="false" usedebug="false">
				<property name="component" value="tests" />
				<property name="clean" value="true" />
			</ant>
		</schedule>

		<!-- directory to write build logs to -->
		<log dir="build/logs/tests">
			<merge dir="build/artifacts/gmf-tests/" />
		</log>

		<!-- Publishers are run *after* a build completes -->
		<publishers>
			<htmlemail logdir="build/logs/tests">
				<always address="richard.gronback@borland.com" />
<!-- 			<failure address="gmf-dev@eclipse.org" />  			-->
			</htmlemail>
			<artifactspublisher dir="build/artifacts/gmf-tests"
				dest="build/artifacts/published/tests" />
		</publishers>
	</project>

	<project name="runtime" buildafterfailed="true">
		<listeners>
			<currentbuildstatuslistener
				file="build/logs/runtime/buildstatus.txt" />
		</listeners>

		<!-- Bootstrappers are run every time the build runs, 
			*before* the modification checks -->
		<bootstrappers></bootstrappers>

		<!-- Defines where cruise looks for changes, to decide
			whether to run the build -->
		<modificationset quietperiod="10">
			<buildstatus logdir="build/logs/checkout" />
		</modificationset>

		<!-- Configures the actual build loop, how often and which
			build file/target -->
		<schedule interval="600">
			<ant antscript="build.bat" buildfile="build.xml"
				target="main" uselogger="false" usedebug="false">
				<property name="component" value="runtime" />
				<property name="clean" value="true" />
			</ant>
		</schedule>

		<!-- directory to write build logs to -->
		<log dir="build/logs/runtime" />

		<!-- Publishers are run *after* a build completes -->
		<publishers>
			<htmlemail logdir="build/logs/runtime">
				<always address="richard.gronback@borland.com" />
			</htmlemail>
			<artifactspublisher dir="build/artifacts/gmf-runtime"
				dest="build/artifacts/published/runtime" />
		</publishers>
	</project>

	<project name="checkout" buildafterfailed="true">
		<listeners>
			<currentbuildstatuslistener
				file="build/logs/checkout/buildstatus.txt" />
		</listeners>

		<!-- Bootstrappers are run every time the build runs, 
			*before* the modification checks -->
		<bootstrappers></bootstrappers>

		<!-- Defines where cruise looks for changes, to decide
			whether to run the build -->
		<modificationset quietperiod="10">
			<cvs
				cvsroot=":pserver:anonymous@dev.eclipse.org:/home/technology"
				localworkingcopy="build/checkout" />
		</modificationset>

		<!-- Configures the actual build loop, how often and which
			build file/target -->
		<schedule interval="600">
			<!-- Perform checkout of all plug-ins and features, as builder uses export. -->
			<ant antscript="ant.bat" buildfile="checkout.xml"
				target="all" uselogger="false" usedebug="false">
			</ant>
		</schedule>

		<!-- directory to write build logs to -->
		<log dir="build/logs/checkout" />

		<!-- Publishers are run *after* a build completes -->
		<publishers>
			<htmlemail logdir="build/logs/checkout">
				<always address="richard.gronback@borland.com" />
			</htmlemail>
			<artifactspublisher dir="build/artifacts/gmf-checkout"
				dest="build/artifacts/published/checkout" />
		</publishers>
	</project>
</cruisecontrol>