<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2006 Borland Software Corporation

All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
   Dmitry Stadnik (Borland) - initial API and implementation
-->
<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="taipan_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="taipan_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID"
        name="TaiPan Diagram Editor"
        icon="../org.eclipse.gmf.examples.taipan.edit/icons/full/obj16/TaiPanModelFile.gif"
        extensions="taipan_diagram"
        default="true"
        class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditor"
        matchingStrategy="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanMatchingStrategy"
        contributorClass="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="TaiPan Diagram"
  	     icon="../org.eclipse.gmf.examples.taipan.edit/icons/full/obj16/TaiPanModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreationWizard"
  	     id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreationWizardID">
  	  	 <description>
  	  		Creates TaiPan diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.objectContribution.IFile1"
            nameFilter="*.taipan"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize taipan_diagram diagram file"
               class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanInitDiagramFileActionID">
         </action>
      </objectContribution>  
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.objectContribution.AquatoryEditPart1"
            objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.AquatoryEditPart">
         <action
               class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreateShortcutAction"
               enablesFor="1"
               id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreateShortcutActionID"
               label="Create Shortcut..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.objectContribution.AquatoryEditPart2"
            objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.AquatoryEditPart">
         <action
               class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanLoadResourceAction"
               enablesFor="1"
               id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanLoadResourceActionID"
               label="Load Resource..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.SmallItemsEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.SmallItems_article_quantityEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.LargeItemEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.LargeItem_articleEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.LargeItem_weightEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.EmptyBoxEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.PortEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Port_locationEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.ShipEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Ship_nameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.DestinationEditPart"/>
            <popupAction path="/editGroup" id="deleteFromModelAction"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Destination_UnknownEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.RouteEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Route_descriptionEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Route_reliabilityEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Route2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Route_description2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.taipan.gmf.editor.edit.parts.Route_reliability2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="TaiPanPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="TaiPanPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="TaiPanRender">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="TaiPan"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID"/>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanPropertyProvider">
         <Priority name="Lowest"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.Aquatory_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Aquatory"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.Aquatory_79EditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.SmallItems_2001"
               name="Small Items"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SmallItems"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.SmallItems_2001EditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.LargeItem_2002"
               name="Large Item"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LargeItem"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.LargeItem_2002EditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.EmptyBox_2003"
               name="Empty Box"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EmptyBox"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.EmptyBox_2003EditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.Port_1001"
               name="Port"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Port"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.Port_1001EditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.Ship_1002"
               name="Ship"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Ship"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.Ship_1002EditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <specializationType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.ShipDestination_3001"
               name="Ship Destination"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.ShipDestination_3001EditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <metamodelType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.Route_3002"
               name="Reliable Route"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Route"
               edithelper="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.Route_3002EditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/examples/gmf/taipan">
         <specializationType
               id="org.eclipse.gmf.examples.taipan.gmf.editor.Route_3003"
               name="Unreliable Route"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.examples.taipan.gmf.editor.edit.helpers.Route_3003EditHelperAdvice">
            <specializes id="org.eclipse.gmf.examples.taipan.gmf.editor.Route_3002"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
   </extension>

</plugin>