<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
    name="%pluginName"
    id="org.eclipse.gmf.examples.taipan.gmf.editor"
    version="1.0.0"
    class="org.eclipse.gmf.examples.taipan.editor.TaiPanDiagramEditorPlugin"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime"/>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.jface"/>
    <import plugin="org.eclipse.ui.ide"/>
    <import plugin="org.eclipse.ui.views"/>
    <import plugin="org.eclipse.ui.workbench"/>
    <import plugin="org.eclipse.emf.ecore"/>
    <import plugin="org.eclipse.emf.edit.ui"/>
    <import plugin="org.eclipse.gef" export="true"/>
    <import plugin="org.eclipse.gmf.runtime.emf.commands.core"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui.providers"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui.providers.ide"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui.render"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui.resources.editor"/>
    <import plugin="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide"/>
    <import plugin="org.eclipse.gmf.runtime.notation.providers"/>
    <import plugin="org.eclipse.gmf.examples.taipan" export="true"/>
    <import plugin="org.eclipse.gmf.examples.taipan.edit" export="true"/>
  </requires>

  <runtime>
    <library name="plugin.jar">
      <export name="*"/>
    </library>
  </runtime>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.examples.taipan.editor.PreferencesInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="taipan_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="taipan_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.eclipse.gmf.examples.taipan.editor.DiagramEditorID"
        name="TaiPan Diagram Editor"
        icon="icons/full/obj16/TaiPanModelFile.gif"
        extensions="taipan_diagram"
        default="true"
        class="org.eclipse.gmf.examples.taipan.editor.DiagramEditor"
        matchingStrategy="org.eclipse.gmf.examples.taipan.editor.TaiPanMatchingStrategy"
        contributorClass="org.eclipse.gmf.examples.taipan.editor.TaiPanActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="TaiPan Diagram"
  	     icon="icons/full/obj16/TaiPanModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.examples.taipan.editor.CreationWizard"
  	     id="org.eclipse.gmf.examples.taipan.editor.CreationWizardID">
  	  	 <description>
  	  		Creates TaiPan diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.objectContribution.IFile1"
            nameFilter="*.taipan"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize taipan_diagram diagram file"
               class="org.eclipse.gmf.examples.taipan.editor.InitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.InitDiagramFileAction">
         </action>
      </objectContribution>            
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.PresentationGlobalActionHandlerProvider"
         id="TaiPanPresentation">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.editor.DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="TaiPanPresentationIDE">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.editor.DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="TaiPanRender">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.editor.DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.examples.taipan.providers.TaiPanViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="TaiPan"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.examples.taipan.providers.TaiPanEditPartProvider">
         <Priority name="Medium"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.core.MetaModelProviders">
      <MetaModelProvider class="org.eclipse.gmf.examples.taipan.providers.TaiPanMetaModelSupportProvider">
         <Priority name="Medium"/>
      </MetaModelProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.examples.taipan.providers.TaiPanModelingAssistantProvider">
         <Priority name="Medium"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.examples.taipan.providers.TaiPanIconProvider">
         <Priority name="Medium"/>
      </IconProvider>
   </extension>

</plugin>
