<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="taipan_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="taipan_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID"
        name="TaiPan Diagram Editor"
        icon="icons/full/obj16/TaiPanModelFile.gif"
        extensions="taipan_diagram"
        default="true"
        class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditor"
        matchingStrategy="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanMatchingStrategy"
        contributorClass="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="TaiPan Diagram"
  	     icon="icons/full/obj16/TaiPanModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreationWizard"
  	     id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanCreationWizardID">
  	  	 <description>
  	  		Creates TaiPan diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.examples.taipan.gmf.editor.ui.objectContribution.IFile1"
            nameFilter="*.taipan"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize taipan_diagram diagram file"
               class="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanInitDiagramFileActionID">
         </action>
      </objectContribution>  
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="TaiPanPresentation">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="TaiPanPresentationIDE">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="TaiPanRender">
         <Priority name="Medium"/>
         <ViewId id="org.eclipse.gmf.examples.taipan.gmf.editor.part.TaiPanDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="TaiPan"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanEditPartProvider">
         <Priority name="Medium"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.core.MetaModelProviders">
      <MetaModelProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanMetaModelSupportProvider">
         <Priority name="Medium"/>
      </MetaModelProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanModelingAssistantProvider">
         <Priority name="Medium"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanPropertyProvider">
         <Priority name="Medium"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.examples.taipan.gmf.editor.providers.TaiPanIconProvider">
         <Priority name="Medium"/>
      </IconProvider>
   </extension>

   
</plugin>
