<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.openarchitectureware.base.oawNature"
         name="oAW Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.gmf.internal.xpand.build.OawNature">
         </run>
      </runtime>
   </extension>
   
   <extension
         id="org.openarchitectureware.base.oawBuilder"
         name="Oaw Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run class="org.eclipse.gmf.internal.xpand.build.OawBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="problem"
         name="oAW Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
