<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/2005/GenModel" 
       class = "org.eclipse.gmf.codegen.gmfgen.GMFGenPackage"
       genModel = "models/gmfgen.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="gmfgen" class="org.eclipse.gmf.internal.common.ToolingResourceFactory" />
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="gmfgen" type="text" />
  </extension>

</plugin>
