<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.ecore.part.EcoreDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="ecore_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="ecore_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID"
        name="Ecore Diagram Editor"
        icon="icons/full/obj16/EcoreModelFile.gif"
        extensions="ecore_diagram"
        default="true"
        class="org.eclipse.gmf.ecore.part.EcoreDiagramEditor"
        matchingStrategy="org.eclipse.gmf.ecore.part.EcoreMatchingStrategy"
        contributorClass="org.eclipse.gmf.ecore.part.EcoreDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="Ecore Diagram"
  	     icon="icons/full/obj16/EcoreModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.ecore.part.EcoreCreationWizard"
  	     id="org.eclipse.gmf.ecore.part.EcoreCreationWizardID">
  	  	 <description>
  	  		Creates Ecore diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.IFile1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize ecore_diagram diagram file"
               class="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileActionID">
         </action>
      </objectContribution>  
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.EPackageEditPart1"
            objectClass="org.eclipse.gmf.ecore.edit.parts.EPackageEditPart">
         <action
               class="org.eclipse.gmf.ecore.part.EcoreCreateShortcutAction"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreCreateShortcutActionID"
               label="Create Shortcut..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.EPackageEditPart2"
            objectClass="org.eclipse.gmf.ecore.edit.parts.EPackageEditPart">
         <action
               class="org.eclipse.gmf.ecore.part.EcoreLoadResourceAction"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreLoadResourceActionID"
               label="Load Resource..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="EcorePresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="EcorePresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="EcorePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="EcoreRender">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.ecore.providers.EcoreViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Ecore"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.ecore.providers.EcoreEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.ecore.providers.EcorePaletteProvider">
         <Priority name="Lowest"/>
         <editor id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID"/>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.ecore.providers.EcoreModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.eclipse.gmf.ecore.providers.EcorePropertyProvider">
         <Priority name="Lowest"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.ecore.providers.EcoreIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="org.eclipse.gmf.ecore.providers.EcoreParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider class="org.eclipse.gmf.ecore.providers.EcoreShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EPackage_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EPackage"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EPackage_79EditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EAttribute_2001"
               name="EAttribute"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EAttribute"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EAttribute_2001EditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EOperation_2002"
               name="EOperation"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EOperation"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EOperation_2002EditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EAnnotation_2003"
               name="EAnnotation"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EAnnotation"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EAnnotation_2003EditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EClass_2004"
               name="EClass"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EClass_2004EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EClass_1001"/>
            <param name="semanticHint" value="2004"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EPackage_2005"
               name="EPackage"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EPackage_2005EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EPackage_79"/>
            <param name="semanticHint" value="2005"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EDataType_2006"
               name="EDataType"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EDataType"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EDataType_2006EditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EEnum_2007"
               name="EEnum"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EEnum"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EEnum_2007EditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EStringToStringMapEntry_2008"
               name="Annotation details"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EStringToStringMapEntry"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EStringToStringMapEntry_2008EditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EEnumLiteral_2009"
               name="EEnumLiteral"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EEnumLiteral"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EEnumLiteral_2009EditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EClass_1001"
               name="EClass"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EClass"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EClass_1001EditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EPackage_1002"
               name="EPackage"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EPackage_1002EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EPackage_79"/>
            <param name="semanticHint" value="1002"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EAnnotation_1003"
               name="EAnnotation"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EAnnotation_1003EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EAnnotation_2003"/>
            <param name="semanticHint" value="1003"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EDataType_1004"
               name="EDataType"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EDataType_1004EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EDataType_2006"/>
            <param name="semanticHint" value="1004"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EEnum_1005"
               name="EEnum"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EEnum_1005EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EEnum_2007"/>
            <param name="semanticHint" value="1005"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EAnnotationReferences_3001"
               name="EAnnotation reference"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EAnnotationReferences_3001EditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="org.eclipse.gmf.ecore.editor.EReference_3002"
               name="Association"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EReference"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EReference_3002EditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EReference_3003"
               name="Aggregation"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EReference_3003EditHelperAdvice">
            <specializes id="org.eclipse.gmf.ecore.editor.EReference_3002"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>

      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="org.eclipse.gmf.ecore.editor.EClassESuperTypes_3004"
               name="Generalization"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EClassESuperTypes_3004EditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3004"/>
         </specializationType>
      </metamodel>
   </extension>

</plugin>
