<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.ecore.part.EcoreDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="ecore_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="ecore_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID"
        name="Ecore Diagram Editor"
        icon="../org.eclipse.emf.ecore.editor/icons/full/obj16/EcoreModelFile.gif"
        extensions="ecore_diagram"
        default="true"
        class="org.eclipse.gmf.ecore.part.EcoreDiagramEditor"
        matchingStrategy="org.eclipse.gmf.ecore.part.EcoreMatchingStrategy"
        contributorClass="org.eclipse.gmf.ecore.part.EcoreDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="Ecore Diagram"
  	     icon="../org.eclipse.emf.ecore.editor/icons/full/obj16/EcoreModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.ecore.part.EcoreCreationWizard"
  	     id="org.eclipse.gmf.ecore.part.EcoreCreationWizardID">
  	  	 <description>
  	  		Creates Ecore diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.IFile1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize ecore_diagram diagram file"
               class="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileActionID">
         </action>
      </objectContribution>  
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.EPackageEditPart1"
            objectClass="org.eclipse.gmf.ecore.edit.parts.EPackageEditPart">
         <action
               class="org.eclipse.gmf.ecore.part.EcoreCreateShortcutAction"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreCreateShortcutActionID"
               label="Create Shortcut..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.EPackageEditPart2"
            objectClass="org.eclipse.gmf.ecore.edit.parts.EPackageEditPart">
         <action
               class="org.eclipse.gmf.ecore.part.EcoreLoadResourceAction"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreLoadResourceActionID"
               label="Load Resource..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="EcorePresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="EcorePresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="EcorePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="EcoreRender">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.ecore.providers.EcoreViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Ecore"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.ecore.providers.EcoreEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.ecore.providers.EcorePaletteProvider">
         <Priority name="Lowest"/>
         <editor id="org.eclipse.gmf.ecore.part.EcoreDiagramEditorID"/>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.ecore.providers.EcoreModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.eclipse.gmf.ecore.providers.EcorePropertyProvider">
         <Priority name="Lowest"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.ecore.providers.EcoreIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="org.eclipse.gmf.ecore.providers.EcoreParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EPackage_79"
               eclass="EPackage"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EPackageDiagramEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EAttribute_2001"
               eclass="EAttribute"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EAttributeChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EOperation_2002"
               eclass="EOperation"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EOperationChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EAnnotation_2003"
               eclass="EAnnotation"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EAnnotationChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EClass_2004"
               eclass="EClass"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EClassChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EPackage_2005"
               eclass="EPackage"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EPackageChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EDataType_2006"
               eclass="EDataType"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EDataTypeChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EEnum_2007"
               eclass="EEnum"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EEnumChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EStringToStringMapEntry_2008"
               eclass="EStringToStringMapEntry"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EStringToStringMapEntryChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EEnumLiteral_2009"
               eclass="EEnumLiteral"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EEnumLiteralChildNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EClass_1001"
               eclass="EClass"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EClassNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EPackage_1002"
               eclass="EPackage"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EPackageNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EAnnotation_1003"
               eclass="EAnnotation"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EAnnotationNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EDataType_1004"
               eclass="EDataType"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EDataTypeNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EEnum_1005"
               eclass="EEnum"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EEnumNodeEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="EAnnotationReferences_3001"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EAnnotationReferencesLinkEditHelper">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="EAnnotationReferences_3001SemanticHint"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EReference_3002"
               eclass="EReference"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EReferenceLinkEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <metamodelType
               id="EReference_3003"
               eclass="EReference"
               edithelper="org.eclipse.gmf.ecore.edit.helpers.EReferenceLinkEditHelper">
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <specializationType
               id="EClassESuperTypes_3004"
               edithelperadvice="org.eclipse.gmf.ecore.edit.helpers.EClassESuperTypesLinkEditHelper">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="EClassESuperTypes_3004SemanticHint"/>
         </specializationType>
      </metamodel>
   </extension>

</plugin>
