<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.contribution1"
            nameFilter="*.gmfmap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.codegen.popup.actions.TransformToGenModel"
               enablesFor="1"
               id="gmf.codegen.ui.step1Action"
               label="%transform.action"
               menubarPath="additions"/>
         <!-- action
               class="org.eclipse.gmf.internal.codegen.popup.actions.CreateSpecificDiagramRunTimeModelAction"
               enablesFor="1"
               id="gmf.codegen.ui.newAction5"
               label="GMF: Step 0(opt) - Create specific DiagramRT model"
               menubarPath="additions"/ -->
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.contribution2"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%generatecode.action"
               class="org.eclipse.gmf.internal.codegen.popup.actions.ExecuteTemplatesAction"
               menubarPath="additions"
               enablesFor="1"
               id="gmf.codegen.ui.step2Action">
         </action>
      </objectContribution>
	<objectContribution
    		adaptable="true"
	        id="gmf.codegen.ui.migrate.model.gmfgen"
    	    objectClass="org.eclipse.core.resources.IFile">
		<action
				label="%migrate.model.action"
				class="org.eclipse.gmf.internal.codegen.popup.actions.MigrateModelAction"
				menubarPath="additions"
				enablesFor="1"
				id="gmf.codegen.ui.migrateAction">
		</action>
  <filter
        name="extension"
        value="gmfgen"/>
	</objectContribution>
	<objectContribution
    		adaptable="true"
	        id="gmf.codegen.ui.migrate.model.gmfmap"
    	    objectClass="org.eclipse.core.resources.IFile">
		<action
				label="%migrate.model.action"
				class="org.eclipse.gmf.internal.codegen.popup.actions.MigrateModelAction"
				menubarPath="additions"
				enablesFor="1"
				id="gmf.codegen.ui.migrateAction">
		</action>
  		<filter name="extension" value="gmfmap"/>
	</objectContribution>	
   </extension>

</plugin>
