<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.contribution1"
            nameFilter="*.gmfmap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.codegen.popup.actions.TransformToGenModel"
               enablesFor="1"
               id="gmf.codegen.ui.step1Action"
               label="%transform.action"
               menubarPath="additions"/>
         <!-- action
               class="org.eclipse.gmf.internal.codegen.popup.actions.CreateSpecificDiagramRunTimeModelAction"
               enablesFor="1"
               id="gmf.codegen.ui.newAction5"
               label="GMF: Step 0(opt) - Create specific DiagramRT model"
               menubarPath="additions"/ -->
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.contribution2"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%generatecode.action"
               class="org.eclipse.gmf.internal.codegen.popup.actions.ExecuteTemplatesAction"
               menubarPath="additions"
               enablesFor="1"
               id="gmf.codegen.ui.step2Action">
         </action>
      </objectContribution>
   </extension>
  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFGraphSimpleModelWizardID"
      name = "%_UI_GMFGraphSimpleModelWizard_label"
      class = "org.eclipse.gmf.internal.codegen.wizards.GMFGraphSimpleModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/full/obj16/GMFGraphModelFile.gif">
      <description>%_UI_GMFGraphSimpleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFToolSimpleModelWizardID"
      name = "%_UI_GMFToolSimpleModelWizard_label"
      class = "org.eclipse.gmf.internal.codegen.wizards.GMFToolSimpleModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/full/obj16/GMFToolModelFile.gif">
      <description>%_UI_GMFToolSimpleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>
  <extension point = "org.eclipse.ui.views">
      <view
         id = "org.eclipse.gmf.internal.codegen.dashboard.DashboardPart"
         name = "GMF Dashboard"
         category = "org.eclipse.ui"
         class = "org.eclipse.gmf.internal.codegen.dashboard.DashboardPart"
         icon = "icons/full/dashboard.gif" />
  </extension>

</plugin>
