<plugin>
	<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
		<library class="xpt.providers.NativeValidationUtils"><metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/><metamodel nsURI="http://www.eclipse.org/gmf/2008/GenModel"/></library>
		<library class="xpt.diagram.parts.NativeNotationModelRefresher"><metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/><metamodel nsURI="http://www.eclipse.org/emf/2002/GenModel"/><metamodel nsURI="http://www.eclipse.org/gmf/2008/GenModel"/></library>
		<library class="xpt.diagram.parts.NativeLinkNotationModelRefresher"><metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/><metamodel nsURI="http://www.eclipse.org/emf/2002/GenModel"/><metamodel nsURI="http://www.eclipse.org/gmf/2008/GenModel"/></library>
		<library class="xpt.NativeUtil"><metamodel nsURI="http://www.eclipse.org/emf/2002/GenModel"/><metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/></library>
	</extension>
</plugin>