<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.gmf.xpand.migration.templates" name="Legacy templates" schema="schema/org.eclipse.gmf.xpand.migration.templates.exsd"/>
   
<!-- Following actions are not used anymore - only project-wide migration action is available   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.xpand.migration.actions.xtend"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.xpand.migration.ui.MigrateXtendResource"
               enablesFor="1"
               id="org.eclipse.gmf.xpand.migration.migratextend"
               label="%migrate.xtend.action"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState name="extension" value="ext"/>
         </visibility>
      </objectContribution>
      <objectContribution
            id="org.eclipse.gmf.xpand.migration.actions.xpand"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.xpand.migration.ui.MigrateXpandResource"
               enablesFor="1"
               id="org.eclipse.gmf.xpand.migration.migratexpand"
               label="%migrate.xpand.action"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState name="extension" value="xpt"/>
         </visibility>
      </objectContribution>
      <objectContribution
            id="org.eclipse.gmf.xpand.migration.actions.migrateFolder"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.eclipse.gmf.internal.xpand.migration.ui.MigrateXpandRoot"
               enablesFor="1"
               id="org.eclipse.gmf.xpand.migration.migratexpandRoot"
               label="%migrate.xpand.root.action"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
-->      
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:project">
         <command commandId="org.eclipse.gmf.xpand.migration.migrateXpandProjectCommand">
            <visibleWhen>
               <with variable="selection">
                  <and>
                     <count value="1"/>
                     <iterate>
                        <and>
                           <or>
                              <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                              <instanceof value="org.eclipse.core.resources.IProject"/>
                           </or>
                           <test 
                                 property="org.eclipse.gmf.xpand.migration.hasOAWBuilder"
                                 forcePluginActivation="true">
                           </test>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">
		<category 
			id="org.eclipse.gmf.xpand.migration.migrationCategory" 
			name="%migrate.category.name" 
			description="%migrate.category.description">
		</category>
		<command 
			id="org.eclipse.gmf.xpand.migration.migrateXpandProjectCommand" 
			name="%migrate.xpand.project.command" 
			categoryId="org.eclipse.gmf.xpand.migration.migrationCategory"
			defaultHandler="org.eclipse.gmf.internal.xpand.migration.ui.MigrateXpandProjectCommandHandler">
		</command>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.gmf.internal.xpand.migration.ui.OAWBuilderPropertyTester"
            id="org.eclipse.gmf.xpand.migration.IJavaProjectPropertyTester"
            namespace="org.eclipse.gmf.xpand.migration"
            properties="hasOAWBuilder"
            type="org.eclipse.jdt.core.IJavaProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.gmf.internal.xpand.migration.ui.OAWBuilderPropertyTester"
            id="org.eclipse.gmf.xpand.migration.IProjectPropertyTester"
            namespace="org.eclipse.gmf.xpand.migration"
            properties="hasOAWBuilder"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>   
   
   <extension
         id="org.eclipse.gmf.xpand.oawBuilder"
         name="%xpand.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run class="org.eclipse.gmf.internal.xpand.build.OawBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="org.eclipse.gmf.xpand.problem"
         name="%xpand.problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
