<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.eclipse.gmf.releng.siteXmlGenerator"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.gmf.releng.generators.SiteXmlGenerator">
         </run>
      </application>
   </extension>

</plugin>
