<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/2007/sketch" 
       class = "org.eclipse.gmf.sketch.SketchPackage"
       genModel = "models/sketch.genmodel" /> 
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="sketch" type="text" />
  </extension>

</plugin>
