<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
         <ParserProvider class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ParserProvider">
         <Priority name="Medium">
         </Priority>
      	</ParserProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
         <viewProvider class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ViewProvider">
         	<Priority name="High"/>
         	<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
      	 </viewProvider>
      	 
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
         <editpartProvider class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.EditPartProvider">
         	<Priority name="High"/>
      	</editpartProvider>
   </extension>
   
   <extension id="EclipseConCustomContributionItemProvider" name="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ContributionItemProvider" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ContributionItemProvider">
         <Priority name="Medium">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.eclipsecon.diagram.custom.editparts.BetterLookingPresenterEditPart">
			</popupStructuredContributionCriteria>
            <popupAction path="/formatMenu/miscellaneousGroup" id="presenterDisplayDefaultAction">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   
   <extension
      point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.EditPolicyProvider">
         	<Priority name="High"/>
      	</editpolicyProvider>
   </extension>

 <extension
         id="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ReviewDecoratorProvider"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipse.gmf.examples.eclipsecon.diagram.custom.providers.ReviewDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
         	   class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
               id="PRESENTER">
         </object>
         <context
               decoratorTargets="PRESENTER">
         </context>
      </decoratorProvider>
   </extension>
   
</plugin>
